{extend name="public/base" /}

{block name="body"}

    <div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <h3>{$cateName|default="全部文章"}</h3>
        </div>
        {volist name="artList" id="art" empty="$empty"}
        <div>
            <img class="img-rounded" src="/uploads/{$art.title_img}"
                 style="margin-right: 10px;float: left;width: 100px;height: 85px"/>

            <div class="content-detail" style="float: left;width: 80%">
                <!-- 获取当前文章的id -->
                <h4><a href="javascript:void(0);" class="title" artId="{$art.id}" catId="{$art.cate_id}">{$art.title}</a></h4>
                <p>作者：{$art.user_id|getUserName}&nbsp;&nbsp;
                    发布时间：{$art.create_time|date='Y年m月d日'}&nbsp;&nbsp;
                    阅读量：{$art.pv}&nbsp;&nbsp;
                </p>
                <div>{$art.content|getArtContent}</div>
                <hr>
            </div>
        </div>
        {/volist}
        <div class="text-center">{$artList|raw}</div>
    </div>
        <!--art.id:{$art.id} | art.cate_id:{$art.cate_id}-->
    <script>
        $(function () {
            $('.title').on('click', function () {
                var art_id = $(this).attr('artId');
                var cate_id = $(this).attr('catId');
                $.ajax({
                    type:'post',
                    url: "{:url('Article/pv')}",
                    data :{'art_id':art_id,'time':new Date().getTime()},
                    dataType:'json',
                    success:function (data) {
                        // 跳转到详情页面
                        var baseUrl = "{:url('Article/detail')}";
                        baseUrl = baseUrl.substr(0,baseUrl.length-5);
                        window.location.href = baseUrl+"/id/"+art_id+"/cate_id/"+cate_id+".html";
                    }
                })
            })
        })
    </script>

{/block}
