{extend name="public:base1" /}
{block name="body"}
	<!-- 主体 -->
	<div class="row">
		<!-- 左侧8列 -->
		<div class="col-md-10">
		<!-- 页头 -->
		<div class="page-header">
  			<!--<h2>{$art.cate_id|getCatName}</h2>-->
            <h4><b>{$art.title}</b></h4>
            <p>作者：{$art.user_id|getUserName}&nbsp;&nbsp;
                发布时间：{$art.create_time}&nbsp;&nbsp;
                阅读量：{$art.pv}&nbsp;&nbsp;
            </p>
        </div>

		<div>
            <div>{:htmlspecialchars_decode($art.content)}</div>
            <hr/>

            <button type="button"  article_id="{$art.id}" session_id="{$Think.session.id}" id="fav"
                    {eq name="is_fav" value="1"}
                        class="btn btn-success"  >收藏 | {$countFav}</button>
                    {/eq}
                    {eq name="is_fav" value="0"}
                        class="btn btn-default"  >收藏 | {$countFav}</button>
                    {/eq}

            <button type="button"  article_id="{$art.id}" session_id="{$Think.session.id}" id="like"
                    {eq name="is_like" value="1"}
                        class="btn btn-success"  >赞 | {$countLike}</button>
                    {/eq}
                    {eq name="is_like" value="0"}
                        class="btn btn-default"  >赞 | {$countLike}</button>
                    {/eq}

        </div>
        <hr/>
        <h4>发表评论：</h4>
            <form id="comment" class="form-horizontal">
                <input type="hidden" name="art_id" value="{$art.id}">
                <input type="hidden" name="user_id" value="{$Think.session.id}">
                <div>
                    <textarea name="content" style="width: 900px;" rows="2"></textarea>
                </div>
                <div>
                    <button type="button" userId="{$Think.session.id}" class="btn btn-primary" id="submit" >发表</button>
                </div>
            </form>

        <hr/>
        <h4>全部评论</h4>
        {volist name="comments" id="comment" empty="当前文章暂没有评论..."}
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" style="width: 24px;height: 24px" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1568624635880&di=ac4b27e1c601a7ced908c463edcdca3d&imgtype=0&src=http%3A%2F%2Fimgq.duitang.com%2Fuploads%2Fitem%2F201503%2F29%2F20150329152357_XsHuz.jpeg" alt="图片加载中…">
                    </a>
                </div>
                <div class="media-body">
                    <span class="media-heading">{$comment.user_id|getUserName}</span>&nbsp;&nbsp;&nbsp;
                    <span>{$comment.create_time}</span><br>
                    {$comment.content}
                </div>
            </div>
        {/volist}
        <br/>

                <!--{$countFav}|{$countLike}-->
        <script>
            $(function () {
                // 处理评论提交功能
                $('#submit').on('click',function () {
                    var userId = $(this).attr('userId');
                    if(userId == '' || userId == null){
                        alert('登录后方可发表评论');
                    }else{
                        $.ajax({
                            type:'post',
                            url:'{:url("Comment/add")}',
                            data:$('#comment').serialize(),
                            success:function (data) {
                                switch (data.status) {
                                    case 1:
                                        // alert(data.message);
                                        location.reload();
                                        break;
                                    case 0:

                                        break;
                                }
                            }
                        })
                    }
                })


                // 处理点赞请求
                $('#like').on('click',function () {
                    // 获取文章id和登录用户id
                    var userId = $(this).attr('session_id');
                    var artId = $(this).attr('article_id');
                    if(userId && artId){
                        $.ajax({
                            type:'post',
                            url:'{:url("Article/like")}',
                            data:{
                                user_id :userId,
                                art_id : artId,
                                time  : new Date().getTime(),
                            },
                            success:function (data) {
                                switch (data.status) {
                                    case 1:
                                        $('#like').attr('class','btn btn-success');
                                        $('#like').text(data.message);
                                        break;
                                    case 0:
                                        $('#like').attr('class','btn btn-default');
                                        $('#like').text(data.message);
                                        break;
                                    case -1:
                                        alert(data.message);
                                        break;
                                }
                            }
                        })
                    }else{
                        // alert('请先去登录');
                        if(confirm('请先去登录')){
                            window.location.href = "{:url('index/User/login')}";
                        }
                    }
                })


                // 处理收藏请求
                $('#fav').on('click',function () {
                    // 获取当前文章的id和用户id
                    var sessionId = $(this).attr('session_id');
                    var artId = $(this).attr('article_id');
                    if(sessionId && artId){
                        $.ajax({
                            type:'post',
                            url:'{:url("index/Article/fav")}',
                            data:{
                                'sessionId':sessionId,
                                'artId':artId,
                                'time':new Date().getTime()
                            },
                            dataType:'json',
                            success:function (data) {
                                switch (data.status) {
                                    case 1:
                                        // 收藏成功
                                        $('#fav').attr('class','btn btn-success');
                                        $('#fav').text(data.message);
                                        break;
                                    case 0:
                                        // 取消收藏
                                        $('#fav').attr('class','btn btn-default');
                                        $('#fav').text(data.message);
                                        break;
                                    case -1:
                                        alert(data.message);
                                        break;
                                }
                            }
                        })

                    }else{
                        // alert('请先去登录');
                        if(confirm('请先去登录')){
                            window.location.href = "{:url('index/User/login')}";
                        }
                    }
                })
            })
        </script>

{/block}
