{extend name="public:base2" /}
{block name="body"}
	<!-- 主体 -->
<div class="row">
    <div class="col-md-8">
        <div class="page-header">
            <p>
                <span style="font-size: 16px;color: #8f8f8f">个人中心 > 我的文章 > 文章编辑</span>&nbsp;&nbsp;
            </p>
        </div>

        <form class="form-horizontal" id="edit"  enctype="multipart/form-data">
            <div>
                <input type="hidden" name="id" value="{$art.id}">
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">文章标题</label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" value="{$art.title}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">文章分类</label>
                <div class="col-sm-10">
                    <select name="cate_id" class="form-control">
                        {volist name="cateList" id="cate"}
                            <option value="{$cate.id}"
                                {eq name="cate.id" value="$art.cate_id" }
                                    selected
                                {/eq}
                            >{$cate.name}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">标题图片</label>
                <div class="col-sm-7">
                    <input type="file" name="title_img" class="form-control" >
                </div>
                <div  style="float: right">
                    <img src="/uploads/{$art.title_img}"
                         style="margin-right: 10px;float: left;width: 90px;height: 60px;" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">文章内容</label>
                <div class="col-sm-10">
                    <!--<textarea name="content" id="content" style="height: 200px" class="form-control">{$art.content}</textarea>-->
                    <textarea name="content" id="content" style="width:700px;height:300px;visibility:hidden;">{$art.content}</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary-outline" artId="{$art.id}" id="toDetail">返回详情</button>
                    {notin name="art.status" value="-1,-2"}
                        <button type="button" class="btn btn-primary" id="update">确定修改</button>
                    {/notin}
                    {in name="art.status" value="-1,-2"}
                        <button type="button" class="btn btn-primary" id="check">提交审核</button>
                    {/in}
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">

        $(function () {
            // 返回详情界面
            $('#toDetail').on('click',function () {
                var id = $(this).attr('artId');
                var url = "{:url('Article/detail')}";
                url = url.substring(0, url.length - 5)+"/id/"+id+"/active/3/page/detail_art.html";
                window.location.href = url;
            })

            // 实例化富文本编辑器
            var editor;
            KindEditor.ready(function(K) {
                editor = K.create('textarea[name="content"]', {
                    allowFileManager : true
                });
            });

            // 提交更新
            $('#update').on('click',function () {
                editor.sync();  // 将富文本内容绑定到表单
                var form = new FormData(document.getElementById("edit"));
                $.ajax({
                    url:"{:url('Article/editArt')}",
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        if(data.status == 1){
                            // alert(data.message);
                            var url = "{:url('Article/myArt')}";
                            url = url.substring(0, url.length - 5)+"/active/3.html";
                            window.location.href = url;
                        }else {
                            alert(data.message);
                        }
                    },
                    error:function(e){
                        alert("糟糕，出现错误！！");
                    }
                });
            })

            // 提交更新
            $('#check').on('click',function () {
                editor.sync();  // 将富文本内容绑定到表单
                var form = new FormData(document.getElementById("edit"));
                $.ajax({
                    url:"{:url('Article/subCheck')}",
                    type:"post",
                    data:form,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        if(data.status == 1){
                            // alert(data.message);
                            var url = "{:url('Article/myArt')}";
                            url = url.substring(0, url.length - 5)+"/active/3.html";
                            window.location.href = url;
                        }else {
                            alert(data.message);
                        }
                    },
                    error:function(e){
                        alert("糟糕，出现错误！！");
                    }
                });
            })
        })

    </script>

    <!--右侧最新排行-->
    {/block}