{extend name="public/base2" /}

{block name="body"}

    <div class="col-md-9" >
        <div class="page-header">
            <p>
                <span style="font-size: 16px;color: #8f8f8f">个人中心 > 我的文章</span>&nbsp;&nbsp;
            </p>
        </div>
        {volist name="artList" id="art" empty="当前暂无文章"}
        <div>
            <img class="img-rounded" src="/uploads/{$art.title_img}"
                 style="margin-right: 10px;float: left;width: 100px;height: 85px"/>

            <div class="content-detail" style="float: left;width: 80%">
                <!-- 获取当前文章的id -->
                <span style="font-size: 18px; " ><a href="javascript:void(0);" class="title" artId="{$art.id}">{$art.title}</a></span>
                {if condition=" $art.status == 1 "}
                    &nbsp;&nbsp;<span class="label label-success" >正常</span>
                {elseif condition=" $art.status == -1 " /}
                    &nbsp;&nbsp;<span class="label label-danger" title="被举报，欲正常显示需要修改后重新提交，审核通过后方可显示">被驳回</span>
                {elseif condition=" $art.status == -2 " /}
                    &nbsp;&nbsp;<span class="label label-info" title="等待管理员审核后方可上线">待审核</span>
                {elseif condition=" $art.status == 0 " /}
                    &nbsp;&nbsp;<span class="label label-warning" title="已被作者删除">已删除</span>
                {/if}
                <div style="height: 6px"></div>
                <p>
                    阅读量：{$art.pv}&nbsp;&nbsp;
                    收藏量：{$art.countFav}&nbsp;&nbsp;
                    点赞量：{$art.countLike}&nbsp;&nbsp;
                </p>
                <div>{$art.content|getArtContent|htmlspecialchars_decode}</div>
                <hr>
            </div>
        </div>
        {/volist}
        <div class="text-center">{$res|raw}</div>
    </div>
</div>

<script>
    $(function () {
        // 文章详情
        $('.title').on('click',function () {
            var id = $(this).attr('artId');
            var url = "{:url('Article/detail')}";
            url = url.substring(0, url.length - 5)+"/id/"+id+"/active/3/page/detail_art.html";
            window.location.href = url;
        })
    })
</script>

{/block}
