<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('index/Article/getArtList')}">{$siteName|default='社区问答'}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li
                    {empty name="$Request.param.cate_id"}
                        class="active"
                    {/empty}
                ><a href="{:url('index/Article/getArtList')}">全部文章</a></li>

                {volist name="cateList" id="cate" empty="暂无文章分类"}
                    <li
                        {eq name="$Request.param.cate_id" value="$cate.id"}
                            class="active"
                        {/eq}
                    ><a href="{:url('Article/getArtList',['cate_id'=>$cate.id])}">{$cate.name}</span></a></li>
                {/volist}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <!--搜索框-->
                <form class="navbar-form navbar-left" action="{:url('Article/getArtList')}" method="get">
                    <div class="form-group">
                        <input type="text" name="keyword" class="form-control" value="{$Request.param.keyword}" placeholder="请输入关键词">
                        <input type="hidden" name="cate_id" class="form-control" value="{$Request.param.cate_id}">
                    </div>
                    <button type="submit" class="btn btn-primary">搜索</button>
                    <button type="button" id="refresh" class="btn btn-default">清空</button>
                </form>
                {empty name = 'Think.session.name'}
                    <li><a href="{:url('User/login')}">登录</a></li>
                    <li><a href="{:url('Article/insert')}">发布文章</a></li>
                {else /}
                    <li><a href="">{$Think.session.name}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('User/info')}">用户信息</a></li>
                            <li><a href="{:url('Article/insert')}">发布文章</a></li>
                            <li><a href="{:url('User/logout')}">退出登录</a></li>
                        </ul>
                    </li>
                {/empty}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script>
    $(function () {
        $('#refresh').on('click',function () {
            window.location.href = "{:url('index/index/index')}";
        })
    })
</script>