<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('index/Index/index')}">{$siteName|default='社区问答'}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">全部文章</a></li>
                <li><a href="#">PHP</span></a></li>
                <li><a href="#">Java</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <!--搜索框-->
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入关键词">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                {empty name = 'Think.session.name'}
                    <li><a href="{:url('User/login')}">登录</a></li>
                    <li><a href="{:url('Article/insert')}">发布文章</a></li>
                {else /}
                    <li><a href="">{$Think.session.name}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">操作<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('User/info')}">用户信息</a></li>
                            <li><a href="{:url('Article/insert')}">发布文章</a></li>
                            <li><a href="{:url('User/logout')}">退出登录</a></li>
                        </ul>
                    </li>
                {/empty}

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>