<script>
    $(function () {
        // 我的信息
        $('#myInfo').on('click',function () {
            var url = "{:url('User/info')}";
            url = url.substring(0, url.length - 5)+"/active/1.html";
            window.location.href = url;
        })

        // 修改密码
        $('#editPwd').on('click',function () {
            var url = "{:url('User/editPassword')}";
            url = url.substring(0, url.length - 5)+"/active/2.html";
            window.location.href = url;
        })

        // 我的文章
        $('#myArt').on('click',function () {
            var url = "{:url('Article/myArt')}";
            url = url.substring(0, url.length - 5)+"/active/3.html";
            window.location.href = url;
        })

        // 我的收藏
        $('#myFav').on('click',function () {
            var url = "{:url('Article/myFav')}";
            url = url.substring(0, url.length - 5)+"/active/4.html";
            window.location.href = url;
        })
    })

</script>